* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: rgb(73, 73, 73) !important;
}
a:hover {
  text-decoration: none !important;
  color: rgb(214, 205, 205) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input,
button {
  cursor: pointer;
  border: none;
  outline: none;
}
button:focus {
  outline: none;
}
.header {
  border-bottom: 1px solid cadetblue;
}
.main {
  margin-top: 50px;
  padding: 40px 0 40px;
}

.footer-container {
  border-top: 1px solid cadetblue;
  margin-top: 50px;
}
.footer {
  padding: 15px 0;
}
